body {
  background: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
}

.form {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 550px;
  background: white;
  padding: 15px;
  margin: 50px;
  border-radius: 15px;
}
.button {
  background-color: rgb(97, 7, 122);
  color: white;
  width: 100px;
  margin: 15px 0px;
}
